.navbar-item{
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
    transition: all .5s;
}

.navbar-item.active{
    color: rgba(255, 255, 255, 1);
}

.navbar-item:hover{
    color:rgba(255, 255, 255, 1);
}

.cartBadge{
    font-size: 1.5rem !important;
}

.navIcon{
    cursor: pointer;
}

.react-datepicker__input-container input, .PhoneInputInput{
    padding: 1.5rem 0rem 1rem 1rem;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #7E8485;
}

.react-datepicker__input-container input:focus, .PhoneInputInput:focus{
    border-bottom: 2px solid #000;
    outline: none;
}